html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

:root {
  height: 100%;
}

.bg {
  min-height: 100dvh;
  background-image: url('./shared/assets/img/bg.png'); 
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
